body #banner {
  display: flex;
  margin: 5px 10px 0px 15px;
}
body #banner .banner-support {
  height: 300px;
  width: 168px;
}
body #banner .banner {
  margin-left: 10px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
body #banner .banner .banner-img {
  height: 295px;
  width: 100%;
  position: relative;
}
body #banner .banner .banner-img img {
  position: absolute;
  opacity: 0;
  object-fit: cover;
}
body #banner .banner .banner-left {
  position: absolute;
  top: 110px;
  left: -0.5px;
  display: block;
  width: 60px;
  height: 80px;
  background-image: url(../img/arrow-l._CB349916960_.png);
  background-repeat: no-repeat;
  background-position: center;
}
body #banner .banner .banner-right {
  position: absolute;
  top: 110px;
  right: -0.5px;
  display: block;
  width: 60px;
  height: 80px;
  background-image: url(../img/arrow-r._CB349916960_.png);
  background-repeat: no-repeat;
  background-position: center;
}
body #banner .banner .banner-bottom {
  width: 100%;
  height: 5px;
  background-color: #000000;
  color: white;
  position: absolute;
  bottom: 0;
  opacity: .8;
}
body #banner .banner .banner-bottom li {
  width: 12.5%;
  height: 100%;
  float: left;
  text-align: center;
}
body #banner .banner .banner-bottom li p {
  line-height: 32px;
  font-size: 15px;
  font-weight: 800;
}
body #banner .banner .banner-bottom .li-show {
  background-color: #FF8C00!important;
}
body #banner .banner .ul-show {
  height: 70px;
}
body #main-left {
  float: left;
  width: 75%;
  padding: 10px;
}
body #main-left .main-left-hot {
  height: 180px;
  display: flex;
}
body #main-left .main-left-hot .hot-support {
  width: 173px;
  height: 10px;
}
body #main-left .main-left-hot .hot-div {
  margin: 10px;
  background-color: white;
  flex: 2;
  padding: 10px 0 0 40px;
}
body #main-left .main-left-hot .hot-div h6 {
  line-height: 18px;
  color: #333333;
  font-weight: 700;
  font-size: 18px;
}
body #main-left .main-left-hot .hot-div h6 span {
  margin-left: 5px;
  color: #CD4D00;
}
body #main-left .main-left-hot .hot-div .hot-cargo {
  display: block;
  margin-top: 20px;
}
body #main-left .main-left-hot .hot-div .hot-cargo p {
  float: left;
  margin-top: 5px;
  height: 80px;
  width: 120px;
  text-align: left;
  line-height: normal;
  color: #B12704;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
body #main-left .main-left-hot .hot-div .hot-cargo p span {
  display: block;
  color: #B12704;
  font-size: 20px;
  font-weight: 700;
}
body #main-left .main-left-hot .hot-div .hot-cargo img {
  float: left;
  margin-top: -30px;
  margin-left: 20px;
  height: 110px;
}
body #main-left .main-left-hot .hot-div .hot-link {
  padding-left: 5px;
  font-size: 12px;
  color: #767676;
  display: block;
  background: url(../img/u92._CB345052597_.png) no-repeat left center;
}
body #main-left h3 {
  padding-left: 15px;
}
body #main-left h3 img {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: -5px;
}
body #main-left h3 span {
  display: inline-block;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
}
body #main-left .horizon-line {
  margin: 0 10px;
}
body #main-left .main-left-recommend {
  padding-left: 28px;
  padding-top: 1px;
  height: 250px;
  display: flex;
}
body #main-left .main-left-recommend div {
  width: 160px;
  height: 250px;
  position: relative;
}
body #main-left .main-left-recommend div a {
  width: 100%;
  height: 100%;
  position: absolute;
}
body #main-left .main-left-recommend div a h6 {
  position: absolute;
  top: 14px;
  left: 22px;
  font-size: 16px;
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: none;
}
body #main-left .main-left-recommend div a i {
  position: absolute;
  top: 35px;
  left: 22px;
  width: 80px;
  height: 18px;
  background: #fff url(../img/AmazonUIBaseCSS-sprite.png) no-repeat;
  background-position: -5px -368px;
  display: none;
}
body #main-left .main-left-recommend div a img {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -75px;
}
body #main-left .main-left-recommend div a span {
  display: block;
  text-align: center;
  height: 20px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 85px 0 0 -75px;
  color: #111;
}
body #main-left .main-left-recommend div:hover a {
  width: 200px;
  height: 310px;
  left: -20px;
  top: -30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  z-index: 5;
  background-color: white;
}
body #main-left .main-left-recommend div:hover h6 {
  display: block;
}
body #main-left .main-left-recommend div:hover i {
  display: block;
}
body #main-left .main-left-tabs {
  padding: 20px;
}
body #main-left .main-left-tabs h4 {
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
  padding-left: 10px;
}
body #main-left .main-left-tabs .tabs {
  height: 300px;
  margin: 10px 0 22px;
  display: flex;
}
body #main-left .main-left-tabs .tabs div {
  flex: 1;
  padding: 15px 15px;
}
body #main-left .main-left-tabs .tabs div a {
  display: block;
  text-align: center;
  position: relative;
}
body #main-left .main-left-tabs .tabs div a img {
  max-width: 180px;
  max-height: 180px;
}
body #main-left .main-left-tabs .tabs div a h5 {
  position: absolute;
  top: 195px;
  width: 100%;
  font-size: 17px;
  color: #111;
}
body #main-left .main-left-tabs .tabs div a p {
  position: absolute;
  top: 225px;
  width: 100%;
  padding: 0 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body #main-left .main-left-tabs .tabs div a i {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  width: 100%;
  top: 250px;
  background-position: -5px -368px;
  width: 80px;
  height: 18px;
}
body #main-left .main-left-tabs .tabs a:hover {
  text-decoration: none;
}
body #main-left .main-left-class {
  margin-top: 40px;
}
body #main-left .main-left-class h4 {
  padding: 0 20px;
}
body #main-left .main-left-class h4 * {
  display: inline-block;
  height: 40px;
  vertical-align: top;
  line-height: 40px;
}
body #main-left .main-left-class h4 img {
  display: inline-block;
}
body #main-left .main-left-class h4 p {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
}
body #main-left .main-left-class h4 .vertical-line {
  height: 30px;
  margin: 5px 0;
  background-color: #000;
}
body #main-left .main-left-class h4 span {
  padding: 0 10px;
}
body #main-left .main-left-class .class-box {
  display: flex;
  padding: 10px;
}
body #main-left .main-left-class .class-box .class-box-left {
  flex: 4;
}
body #main-left .main-left-class .class-box .class-box-left li {
  float: left;
  width: 50%;
  height: 180px;
  display: flex;
  text-align: center;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-title {
  position: relative;
  flex: 1;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-title * {
  height: 60px;
  line-height: 60px;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-title h4 {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-title h5 {
  font-size: 22px;
  font-weight: bold;
  color: black;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-title a {
  color: #767676;
  font-size: 12px;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-title .triangle {
  position: absolute;
  z-index: 1;
  top: 45%;
  right: -19px;
  width: 0px;
  height: 0px;
  border: 10px solid rgba(0, 0, 0, 0);
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-img {
  flex: 1;
}
body #main-left .main-left-class .class-box .class-box-left li .class-box-img img {
  max-width: 160px;
  margin-top: 20px;
  max-height: 140px;
}
body #main-left .main-left-class .class-box .class-box-right {
  flex: 1;
}
body #main-left .main-left-class .class-box .class-box-right div {
  height: 180px;
  padding: 36px 0 0 20px;
}
body #main-left .main-left-class .class-box .class-box-right div h5 {
  font-size: 18px;
  margin-bottom: 10px;
}
body #main-left .main-left-class .class-box .class-box-right div a {
  display: inline-block;
  height: 20px;
  width: 75px;
}
body #main-right {
  float: right;
  width: 25%;
  padding: 5px;
  background-color: #F8F8F8;
}
body #main-right .main-right-img {
  width: 100%;
}
body #main-right .main-right-img img {
  width: 100%;
}
body #main-right .horizon-line {
  margin: 15px 10px;
}
body #main-right .main-right-promotion {
  position: relative;
}
body #main-right .main-right-promotion .promotion-filter {
  position: absolute;
  height: 100%;
  width: 100%;
}
body #main-right .main-right-promotion .promotion-filter div {
  height: 145px;
  margin-bottom: 5px;
}
body #main-right .main-right-promotion .promotion-filter div:nth-of-type(1) {
  background-color: #d8ae5a;
}
body #main-right .main-right-promotion .promotion-filter div:nth-of-type(2) {
  background-color: #c6c6c2;
}
body #main-right .main-right-promotion .promotion-filter div:nth-of-type(3) {
  background-color: #9cc9ab;
}
body #main-right .main-right-promotion .promotion-filter div:nth-of-type(4) {
  background-color: #5babc3;
}
body #main-right .main-right-promotion .promotion-filter div:nth-of-type(5) {
  background-color: #cec55c;
}
body #main-right .main-right-promotion .promotion-filter div:nth-of-type(6) {
  background-color: #89d793;
}
body #main-right .main-right-promotion .promotion-div {
  width: 100%;
  padding: 10px 0 15px 25px;
  height: 145px;
  margin-bottom: 5px;
  background-color: white;
  opacity: 0.85;
}
body #main-right .main-right-promotion .promotion-div h6 {
  height: 19px;
  font-size: 13px;
  font-weight: bold;
  color: #555555;
}
body #main-right .main-right-promotion .promotion-div .promotion-cargo {
  display: block;
  margin-top: 5px;
  height: 80px;
}
body #main-right .main-right-promotion .promotion-div .promotion-cargo div {
  float: left;
  width: 140px;
}
body #main-right .main-right-promotion .promotion-div .promotion-cargo div p {
  height: 24px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #111111;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body #main-right .main-right-promotion .promotion-div .promotion-cargo div span {
  display: block;
  color: #B12704;
  font-size: 20px;
  font-weight: 700;
}
body #main-right .main-right-promotion .promotion-div .promotion-cargo img {
  float: left;
  margin-top: -30px;
  margin-left: 20px;
  height: 110px;
}
body #main-right .main-right-promotion .promotion-div .promotion-link {
  display: block;
  padding-left: 5px;
  font-size: 12px;
  color: #767676;
  background: url(../img/u92._CB345052597_.png) no-repeat left center;
}
body #main-right .main-right-rank {
  padding: 15px 25px;
  text-align: center;
}
body #main-right .main-right-rank h5 {
  font-size: 16px;
  color: #444;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}
body #main-right .main-right-rank div {
  position: relative;
  margin-bottom: 10px;
  height: 100px;
  width: 140px;
}
body #main-right .main-right-rank div span {
  font-size: 36px;
  line-height: 36px;
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.5em;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  width: 30px;
}
body #main-right .main-right-rank div img {
  max-height: 100px;
  max-width: 75px;
  height: auto;
  width: auto;
}
body footer {
  float: left;
  width: 100%;
}
body footer .footer-ul {
  width: 800px;
  display: flex;
  margin: 40px auto 20px auto;
}
body footer .footer-ul dl {
  text-align: left;
  margin-left: 10px;
}
body footer .footer-ul dl dt {
  color: #333;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}
body footer .footer-ul dl dd {
  margin: 0 0 6px 0;
}
body footer .footer-about {
  line-height: 20px;
}
body footer .footer-about p {
  height: 20px;
  margin: 0 auto;
}
